streamlit>=1.33
streamlit-ace>=0.1.1
streamlit-drawable-canvas>=0.9.3
pandas>=2.0
PyYAML>=6.0
selenium>=4.20
webdriver-manager>=4.0
imagehash>=4.3
Pillow>=10.0
requests>=2.31
gradio_client>=1.5
torch>=2.2
transformers>=4.40
coremltools>=7.2
open3d>=0.18
trimesh>=4.0
pygltflib>=1.16
rembg>=2.0
plotly>=5.20
